<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Term dates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="topbar">
        <a href="/">Inicio</a>
    </div>

    <div class="container">
        <h1>He perdido</h1>
        <h2>Selecciona las fechas de inicio de cada trimestre para esta ronda</h2>
        <img style="width:8rem; height: auto;" alt="calendar_pic" src="../static/calendar.jpeg">

        <form action="/" method="POST" enctype="multipart/form-data"></form>
    </div>
</body>
</html>