<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gastos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById("sidebar");
            sidebar.style.width = sidebar.style.width === "250px" ? "0" : "250px";
        }
    </script>
</head>
<body>
    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()">&times;</a>
        <a href="/">Inicio</a>
        <a href="/view">Confirmar últimas entradas</a>
        <a href="/tesoreria">Tesorería</a>
    </div>

    <div class="tobpar">
        <span class="hamburger" onclick="toggleSidebar()">☰</span>
    </div>
    <h1>Entradas registradas</h1>
    <ul>
        {% for entry in entries %}
            <li>
                <strong>{{ entry[0] }}</strong> gastó <strong>{{ entry[2] }}</strong>€ en "{{ entry[1] }}" para {{ entry[4] }} el {{ entry[5] }}.
                {% if entry[6] %}
                    <a href="{{ entry[6] }}" target="_blank">Ver imagen</a><br>
                    <img src="{{ entry[6] }}" style="max-height:100px;">
                {% endif %}
                <form action="/delete" method="POST" style="display:inline;">
                    <input type="hidden" name="entry_id" value="{{ entry[7] }}">
                    <button type="submit" onclick="return confirm('¿Estás seguro/a/x de que quieres borrar esta entrada?')">🗑
                        Borrar esta entrada (NO LE DES SIN QUERER)
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>